#sidebar{
   font-size: 18px; 

  .sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(9, 15, 53);
    overflow-x: hidden;
    //margin-top: 72px;
    padding-top: 90px;
    background-image: url(../sources/images/Sidebar2.jpg);

}

.sidenav label {
    font-size: 18px;
    color: #052753;
}


.sidenav a {
    padding: 4px 4px 4px 8px;
    text-decoration: none;
    font-size: 14px;
    color: #052753;
    display: block;

}

.sidenav a:hover {
    color: #093035;
    text-shadow: 0.5px 0.5px rgb(248, 248, 248);
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  
}