#sidebar{

  .sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(9, 15, 53);
    overflow-x: hidden;
    //margin-top: 72px;
    padding-top: 90px;
    background-image: url(../sources/images/Sidebar2.jpg);

}



.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #052753;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f4;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  
}