
<div id="sidebar">
  <div ng-model="vm.rol" class="sidenav">
    <a ng-show = 'vm.rol == 5' ui-sref="main.registrarEncargadoSucursal">Registrar Usuarios</a>
    <a ng-show = 'vm.rol == 5' ui-sref="main.registrarClienteAdmin">Registrar Usuarios</a>
    <a ng-show = 'vm.rol == 5' ui-sref="main.listarEncargadoSucursal">Lista de Encargados de Sucursal</a>
    <a ng-show = 'vm.rol == 5' ui-sref="main.listarCliente">Lista de Usuarios</a>
    <a ng-show = 'vm.rol == 2' ui-sref="main.paquetesEncargadoSucursal">Paquetes</a>
    <a ng-show = 'vm.rol == 1' ui-sref="registrarPreAlerta">Paquetes</a>
    <a ng-show = 'vm.rol == 1' ui-sref="listaPreAlerta"> Lista de paquetes</a>
    <a ng-show = 'vm.rol == 5' ui-sref="entidades">Registrar Entidades</a>
    <a ng-show = 'vm.rol == 5' ui-sref="convenio">Registrar Convenios</a>
    <a ng-show = 'vm.rol == 5' ui-sref="main.sucursales">Registrar Sucursal</a>
    <a ng-show = 'vm.rol == 5' ui-sref="main.listarsucursales">Lista de Sucursales</a>
    <a ng-show = 'vm.rol == 5' ui-sref="main.registrarEncargadoAduana">Registrar Encargado de Aduanas</a>
    <a ng-show = 'vm.rol == 5' ui-sref="main.modificarEncargadoAduana">Modificar Encargado de Aduanas</a>
    <a ng-show = 'vm.rol == 5' ui-sref="main.listarEncargadoAduana">listar Encargado de Aduanas</a>
    <a ng-show = 'vm.rol == 4' ui-sref="main.paquetesEncargadoAduana">paquetes Encargado de Aduanas</a>


    <a ng-show = 'vm.rol == 5' ui-sref="main.PaquetesAdmin">Lista de paquetes</a>



    
    
    <a ng-show = 'vm.rol == 1' ui-sref="tarjetas">Registrar Tarjeta</a>
    <a ng-show = 'vm.rol == 1' ui-sref="listatarjetas"> Mis Tarjets</a>
  </div>
</div>
