
<div id="dashboard">

  <legend>Paquetes en tránsito a sucursal</legend>

  <table class="table table-responsive">

    <thead>
      <th>Usuario</th>
      <th>Distribuidor</th>
      <th>Precio</th>
      <th>Peso</th>
      <th>Tipo de articulo</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th>Pasar Estado</th>
  
    </thead>
    <tbody>
      <tr ng-repeat="paquete in vm.listaPaquetes" ng-if="paquete.estadoTraslado === 'En transito a centro de distribución'">
        <td>{{paquete.usuario}}</td>
        <td>{{paquete.distribuidor}}</td>
        <td>{{paquete.precio}}</td>
        <td>{{paquete.peso}}</td>
        <td>{{paquete.tipoArticulo.name}}</td>
        <td>{{paquete.descripcion}}</td>
        <td>{{paquete.estadoTraslado}}</td>
        <td><button class="btn " type="button" ng-click="vm.cambiarEstadoTraslado3(paquete)">Recibido En Sucursal</button></td>
      </tr>
    </tbody>
  
  </table>


  <legend>Paquetes recibidos en sucursal</legend>

  <table class="table table-responsive">

    <thead>
      <th>Usuario</th>
      <th>Tracking</th>
      <th>Distribuidor</th>
      <th>Precio</th>
      <th>Peso</th>
      <th>Tipo de articulo</th>
      <th>Descripción</th>
      <th>Asignar</th>
  
    </thead>
    <tbody>
      <tr ng-repeat="paquete in vm.listaPaquetes" ng-if="paquete.estadoTraslado === 'Recibido en Sucursal'">
        <td>{{paquete.usuario}}</td>
        <td>{{paquete.tracking}}</td>
        <td>{{paquete.distribuidor}}</td>
        <td>{{paquete.precio}}</td>
        <td>{{paquete.peso}}</td>
        <td>{{paquete.tipoArticulo.name}}</td>
        <td>{{paquete.descripcion}}</td>
        <td>
        <select ng-model="vm.asignarRepartidor">
          <option value="">Seleccione Repartidor</option>
          <option value="{{repartidor.primerNombre}}" ng-repeat="repartidor in vm.listaRepartidores" ng-if="repartidor.sucursalAsignada == vm.rolSucursal" ng-model="vm.listaRepartidores" >{{repartidor.primerNombre}}</option>
        </select>
        
        </td>
      </tr>
    </tbody>
  
  </table>


</div>

