<div class="container">
    <form ng-submit="vm.editSucursal(vm.editarSucursal)" name="formEditarSucursal" novalidate autocomplete="off">
   
   
   <div class="form-group">
   
      <label for="sucursalIDeditar"> ID Sucursal</label> 
     <input ng-model="vm.editarSucursal.id" id="sucursalIDeditar" class="form-control" maxlength="5" minlength="5" type="number" required>
     <div ng-message="required">
         <small class="form-text text-muted">Este campo es requerido</small>
     </div>
   
     <label for="txtNombreeditar">Nombre de la Sucursal</label>
     <input type="text" id="txtNombreeditar" class="form-control" name="txtNombreeditar" ng-model="vm.editarSucursal.nombre" required>
     <div ng-message="required">
       <small class="form-text text-muted">Este campo es requerido</small>
     </div>
   
     <label for="sltProvinciaeditar">Provincia</label>
     <select id="sltProvinciaeditar" class="form-control" name="sltProvincias" ng-change="vm.rellenarCantones(vm.editarSucursal.provincia._id)" ng-options="provincia as provincia.name for provincia in vm.provincias track by provincia._id" ng-model="vm.editarSucursal.provincia" required>
       <option value="">-- Seleccione una Provincia --</option>
     </select>
     <div ng-messages="formEditarSucursal.sltProvincias.$error" role="alert">
       <div ng-message="required">
         <small class="form-text text-muted">Este campo es requerido</small>
       </div>
     </div>
   </div>
   
   <div class="form-group">
     <label for="sltCantoneditar">Cantón</label>
     <select id="sltCantoneditar" class="form-control" name="sltCantones" ng-change="vm.rellenarDistrito(vm.editarSucursal.canton._id)" ng-options="canton as canton.name for canton in vm.cantones track by canton._id" ng-model="vm.editarSucursal.canton" required>
       <option value="">-- Seleccione un Cantón --</option>
     </select>
     <div ng-messages="formEditarSucursal.sltCantones.$error" role="alert">
       <div ng-message="required">
         <small class="form-text text-muted">Este campo es requerido</small>
       </div>
     </div>
   </div>
   
   <div class="form-group">
     <label for="sltDistritoeditar">Distrito</label>
     <select id="sltDistritoeditar" class="form-control" name="sltDistritos" ng-options="distrito as distrito.name for distrito in vm.distritos track by distrito._id" ng-model="vm.editarSucursal.distrito" required>
       <option value="">-- Seleccione un Distrito --</option>
     </select>
     <div ng-messages="formEditarSucursal.sltDistritos.$error" role="alert">
         <div ng-message="required">
           <small class="form-text text-muted">Este campo es requerido</small>
         </div>
   
        
       </div>
   </div>
   
   
   <label for="nTelefonoeditar">Numero de Telefono</label>
   <input type="tel" id="nTelefonoeditar" class="form-control" name="nTelefono" ng-model="vm.editarSucursal.telefono"  maxlength="11" minlength="8" required>
   <div ng-message="required">
       <small class="form-text text-muted">Este campo es requerido</small>
   </div>
   
   <label for="txtHorarioeditar">Horarios de Atencion</label>
   <textarea type="text" id="txtHorarioeditar" class="form-control" name="txtHorario" ng-model="vm.editarSucursal.horario" style="height:100px" required></textarea>
   
   <div ng-message="required">
       <small class="form-text text-muted">Este campo es requerido</small>
   </div>
   
   
   
   <button type="submit" class="btn btn-success">Registrar Sucursal</button>
   
   </form>
   </div>