<div id="dashboard"> 

 <section id="registroPreAlerta" class="col-8">
    <h1>REGISTRO DE PRE ALERTA</h1>

  <div>
    <form ng-submit="vm.editPrealerta(vm.editarPaquete)">


      <div class="form-group">
        <label for="">Distribuidor</label>
        <input type="text" class="form-control" ng-model="vm.editarPaquete.distribuidor" >
      </div>
      <div class="form-group">
        <label for="">Precio</label>
        <input type="text" class="form-control" ng-model="vm.editarPaquete.precio" >
      </div>
      
      <div class="form-group">
        <label for="">Peso </label>
        <input type="text" class="form-control" ng-model="vm.editarPaquete.peso" >
      </div>
     
      <div class="form-group">
        <label for="">Articulo</label>
        <select ng-model="vm.editarPaquete.tipoArticulo" ng-options="tipo as tipo.name for tipo in vm.tipoArticulo track by tipo._id">
      
        </select>
      </div>
      <div class="form-group">
        <label for="">Descripción</label>
        <input type="text" class="form-control" ng-model="vm.editarPaquete.descripcion" >
      </div>

      <button type="submit">Editar</button>
      <div class="col-md-6">
        <button type="button" ng-click="vm.cambiarEstadoPaquete('inactivo')">Desactivar</button>
      </div>
      <div class="col-md-6">
        <button type="button" ng-click="vm.cambiarEstadoPaquete('activo')">Activar</button>
      </div>

    </form>

    </section>



</div>

