<div class="wrapper">
  <div class="login-card2 text-center">

    <h1>Bienvenido</h1>
    <h1>Ingrese su informacion</h1>
    <br>
    <img src="../../sources/images/logo.png" alt="">

    <form ng-submit="vm.registrarCliente(vm.nuevoCliente)" class="row">
      <div class="col-md-6">
        <input type="text" placeholder="Cedula" ng-model="vm.nuevoCliente.cedula" required>
        <input type="file" ng-model="vm.nuevoCliente.foto" img-upload required>
        <input type="text" placeholder="Primer Nombre" ng-model="vm.nuevoCliente.primerNombre" required>
        <input type="text" placeholder="Segundo Nombre" ng-model="vm.nuevoCliente.segundoNombre">
        <input type="text" placeholder="Primer Apellido" ng-model="vm.nuevoCliente.primerApellido" required>
        <input type="text" placeholder="Segundo Apellido" ng-model="vm.nuevoCliente.segundoApellido" required>
        <input type="email" ng-model="vm.nuevoCliente.correo" placeholder="Correo Electronico" required>
        <input type="text" placeholder="Teléfono" ng-model="vm.nuevoCliente.telefono" required>
        <input type="date" placeholder="Fecha Nacimiento" ng-model="vm.nuevoCliente.fechaNacimiento" required>
      </div>
      <div class="col-md-6">
        <input list="sltProvincia" name="sltProvincia" ng-change="vm.rellenarCantones(vm.nuevoCliente.provincia)" ng-model="vm.nuevoCliente.provincia"
          placeholder="Provincia" required>
        <datalist id="sltProvincia">
          <option ng-repeat="provincia in vm.provincias track by provincia._id" value="{{provincia.name}}" id="{{provincia._id}}">
        </datalist>
        <input list="sltCanton" name="sltCanton" ng-change="vm.rellenarDistrito(vm.nuevoCliente.canton)" ng-model="vm.nuevoCliente.canton"
          placeholder="Canton" required>
        <datalist id="sltCanton">
          <option ng-repeat="canton in vm.cantones" value="{{canton.name}}">
        </datalist>
        <input list="sltDistrito" name="sltDistrito" ng-model="vm.nuevoCliente.distrito" placeholder="Distrito" required>
        <datalist id="sltDistrito">
          <option ng-repeat="distrito in vm.distritos" value="{{distrito.name}}">
        </datalist>
        <input type="text" class="" ng-model="vm.nuevoCliente.direccionExacta" placeholder="Direccion Exacta" required>
        <input type="text" class="" ng-model="vm.nuevoCliente.contrasenna" placeholder="Contraseña" required>
        <button type="submit" class="login login-submit">Registrar</button>
      </div>
    </form>

  </div>
</div>

<!-- 


<section id="dashboard" class="">
  <form action="" class="form-horizontal" ng-submit="vm.registrarCliente(vm.nuevoCliente)">
    <div class="form-group">
      <label for="">Cédula</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.cedula" required>
    </div>
    <div class="form-group">
      <label for="">Foto</label>
      <input type="file" class="form-control" ng-model="vm.nuevoCliente.foto" img-upload required>
    </div>
    <div class="form-group">
      <label for="">Primer nombre</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.primerNombre" required>
    </div>
    <div class="form-group">
      <label for="">Segundo nombre</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.segundoNombre">
    </div>
    <div class="form-group">
      <label for="">Primer apellido</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.primerApellido" required>
    </div>
    <div class="form-group">
      <label for="">Segundo apellido</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.segundoApellido">
    </div>
    <div class="form-group">
      <label for="">Correo electrónico</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.correo" required>
    </div>
    <div class="form-group">
      <label for="">Teléfono</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.telefono" required>
    </div>
    <div class="form-group">
      <label for="">Fecha de nacimiento</label>
      <input type="date" class="form-control" ng-model="vm.nuevoCliente.fechaNacimiento" required>
    </div> 



    <div class="form-group">
      <label for="sltProvincia">Provincia</label>
      <input list="sltProvincia" class="form-control" name="sltProvincia" ng-change="vm.rellenarCantones(vm.nuevoCliente.provincia)"
        ng-model="vm.nuevoCliente.provincia" required>
      <datalist id="sltProvincia">
        <option ng-repeat="provincia in vm.provincias track by provincia._id" value="{{provincia.name}}" id="{{provincia._id}}">
      </datalist>
    </div>

    <div class="form-group">
      <label for="sltCanton">Cantón</label>
      <input list="sltCanton" class="form-control" name="sltCanton" ng-change="vm.rellenarDistrito(vm.nuevoCliente.canton)" ng-model="vm.nuevoCliente.canton"
        required>
      <datalist id="sltCanton">
        <option ng-repeat="canton in vm.cantones" value="{{canton.name}}">
      </datalist>
    </div>

    <div class="form-group">
      <label for="sltDistrito">Distrito</label>
      <input list="sltDistrito" class="form-control" name="sltDistrito" ng-model="vm.nuevoCliente.distrito" required>
      <datalist id="sltDistrito">
        <option ng-repeat="distrito in vm.distritos" value="{{distrito.name}}">
      </datalist>
    </div>

    <div class="form-group">
      <label for="">Dirección exacta</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.direccionExacta" required>
    </div>

    <div class="form-group">
      <label for="">Contraseña</label>
      <input type="password" class="form-control" ng-model="vm.nuevoCliente.contrasenna" required>
    </div>

    <button type="submit">Registrar</button>
  </form>
</section> -->