<div navegacion-Principal></div>
<div menu-Lateral></div>
<section id="dashboard">
  <form action="" class="form-horizontal" ng-submit="vm.registrarCliente(vm.nuevoCliente)">
    <div class="form-group">
      <label for="">Cédula</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.cedula" required>
    </div>
    <div class="form-group">
      <label for="">Foto</label>
      <input type="file" class="form-control" ng-model="vm.nuevoCliente.foto" img-upload required>
    </div>
    <div class="form-group">
      <label for="">Primer nombre</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.primerNombre" required>
    </div>
    <div class="form-group">
      <label for="">Segundo nombre</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.segundoNombre">
    </div>
    <div class="form-group">
      <label for="">Primer apellido</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.primerApellido" required>
    </div>
    <div class="form-group">
      <label for="">Segundo apellido</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.segundoApellido">
    </div>
    <div class="form-group">
      <label for="">Correo electrónico</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.correo" required>
    </div>
    <div class="form-group">
      <label for="">Teléfono</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.telefono" required>
    </div>
    <div class="form-group">
      <label for="">Fecha de nacimiento</label>
      <input type="date" class="form-control" ng-model="vm.nuevoCliente.fechaNacimiento" required>
    </div>
    <div class="form-group">
      <label for="sltProvincia">Provincia</label>
        <input list="sltProvincia" class="form-control" name="sltProvincia" ng-change="vm.rellenarCantones(vm.nuevoCliente.provincia)" ng-model="vm.nuevoCliente.provincia" required>
        <datalist id="sltProvincia">
          <option ng-repeat="provincia in vm.provincias track by provincia._id" value="{{provincia.name}}" id="{{provincia._id}}">
        </datalist> 
    </div>

    <div class="form-group">
      <label for="sltCanton">Cantón</label>
        <input list="sltCanton" class="form-control" name="sltCanton" ng-change="vm.rellenarDistrito(vm.nuevoCliente.canton)" ng-model="vm.nuevoCliente.canton" required>
        <datalist id="sltCanton">
          <option ng-repeat="canton in vm.cantones" value="{{canton.name}}">
        </datalist>
    </div>

    <div class="form-group">
      <label for="sltDistrito">Distrito</label>
        <input list="sltDistrito" class="form-control" name="sltDistrito" ng-model="vm.nuevoCliente.distrito" required>
        <datalist id="sltDistrito">
          <option ng-repeat="distrito in vm.distritos" value="{{distrito.name}}">
        </datalist>
    </div>

    <div class="form-group">
      <label for="">Dirección exacta</label>
      <input type="text" class="form-control" ng-model="vm.nuevoCliente.direccionExacta" required>
    </div>
    
    <div class="form-group">
      <label for="">Contraseña</label>
      <input type="password" class="form-control" ng-model="vm.nuevoCliente.contrasenna" required>
    </div>

    <button type="submit">Registrar</button>
  </form>
</section>
