<main id="registroPreAlerta" class="col-8">
  <h1>REGISTRO DE PRE ALERTA</h1>

  <div>
    <div>
      <form ng-submit="vm.editPrealerta(vm.editarPaquete)">

        <div class="form-group">
          <label for="">Número de traking</label>
          <input type="text" class="form-control" ng-model="vm.editarPaquete.traking" disabled>
        </div>
        <div class="form-group">
          <label for="">Distribuidor</label>
          <input type="text" class="form-control" ng-model="vm.editarPaquete.distribuidor" required>
        </div>
        <div class="form-group">
          <label for="">Precio</label>
          <input type="text" class="form-control" ng-model="vm.editarPaquete.precio" required>
        </div>
        <div class="form-group">
          <label for="">Peso </label>
          <input type="text" class="form-control" ng-model="vm.editarPaquete.peso" required>
        </div>
        <div class="form-group">
          <label for="">Tipo de articulo </label>
          <input type="text" class="form-control" ng-model="vm.editarPaquete.tipoArticulo" required>
        </div>
        <div class="form-group">
          <label for="">Descripción</label>
          <input type="text" class="form-control" ng-model="vm.editarPaquete.descripcion" required>
        </div>

        <button type="submit">Editar</button>

      </form>