// Tarjetas CSS

.creditCardForm {
  max-width: 700px;
  background-color: transparet;
  margin: 20px auto;
  overflow: hidden;
  padding: 25px;
  color: #4c4e56;
}

.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}

.creditCardForm .heading h1 {
  text-align: center;
  color: #4c4e56;
}

.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}

.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}

.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}

.creditCardForm .CVV {
  width: 35%;
}

.creditCardForm #card-number-field {
  width: 100%;
}

.creditCardForm #expiration-date {
  width: 49%;
}

.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}

.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}

.creditCardForm .payment .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  background-color: #2ec4a5;
  color: white;
}

.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}

.transparent {
  opacity: 0.2;
}

.creditCardForm img {
  width: 50px;
  height: 40px;
}

@media(max-width: 650px) {
  .creditCardForm .owner,
  .creditCardForm .CVV,
  .creditCardForm #expiration-date,
  .creditCardForm #credit_cards {
      width: 100%;
  }
  .creditCardForm #credit_cards {
      text-align: left;
  }
}

.cardpad {
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-table	;
  border: 1px solid;
  border-radius: 25px;
  width: 260px;
  line-height: 20px;
  height: 20px;
  margin-top:20px; 
  background: rgba(255, 255, 250, 0.5);
      a {
        cursor: pointer;
      }

      
}

.cardpadform {
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-table	;
  border: 1px solid;
  border-radius: 25px;
  width: 95%;
  line-height: 20px;
  height: 20px;
  margin-top:20px; 
}


// Aqui terminan los estilos de las tarjetas

.creditCardForm .btn-success  {
  margin-bottom: 20px;
}

.creditCardForm .btn-primary  {
  margin-bottom: 20px;
}

.creditCardForm .btn-danger  {
  margin-bottom: 20px;
}

// Estilos login
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form label {
    text-align: left;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #77b828;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #66cc33;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #77b828;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before,
  .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
}
//Final estilos login