

<div id="wrapperusuarios">

    <table class="table">
        <h1 class="col-12">Usuarios activos</h1>
        <hr/>
        <thead class="table-primary">
            <tr>
                <th>Cédula</th>
                <th>Foto</th>
                <th>Primer nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Tipo de Usuario</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.estado === 'activo' && usuario.tipo === '2'">
                <td>{{usuario.cedula}}</td>
                <td>{{usuario.foto}}</td>
                <td>{{usuario.primerNombre}}</td>
                <td>{{usuario.primerApellido}}</td>
                <td>{{usuario.segundoApellido}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.tipo}}</td>
                <td>
                    <button type="button" class="btn" ng-click="vm.editUsuarios(usuario)"><i class="far fa-check-circle"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <h1 class="col-12">Usuarios desactivados</h1>
        <thead class="table-primary">
            <tr>
                <th>Cédula</th>
                <th>Foto</th>
                <th>Primer nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Tipo de Usuario</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.estado === 'inactivo' && usuario.tipo === '2'">
                <td>{{usuario.cedula}}</td>
                <td>{{usuario.foto}}</td>
                <td>{{usuario.primerNombre}}</td>
                <td>{{usuario.primerApellido}}</td>
                <td>{{usuario.segundoApellido}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.tipo}}</td>
                <td>
                    <button type="button" class="btn" ng-click="vm.editUsuarios(usuario)"><i class="far fa-check-circle"></i></button>
                </td>
            </tr>
        </tbody>
    </table>



</div>