<table class="table table-responsive">

  <thead>
    <th>Usuario</th>
    <th>Distribuidor</th>
    <th>Precio</th>
    <th>Peso</th>
    <th>Tipo de articulo</th>
    <th>Descripción</th>
    <th>Estado</th>

<div id="dashboard" >
  <div class="container">
<form class="row">
  <div class=" col-xs-12 col-md-4">
    <label for="">Buscar por nombre</label>
    <input type="text" class="form-control" ng-model="buscarPaquete.usuario">

  </div>


  <div class=" col-xs-12 col-md-4">
    <label for="">Buscar por precio</label>
    <input type="text" class="form-control" ng-model="buscarPaquete.precio">
  </div>


  <div class=" col-xs-12 col-md-4">
    <label for="">Buscar por estado</label>
    <input type="text" class="form-control" ng-model="buscarPaquete.estado">
  </div>


</form>
<table class="table table-responsive">

  <thead>
    <th>Usuario</th>
    <th>Distribuidor</th>
    <th>Precio</th>
    <th>Peso</th>
    <th>Tipo de articulo</th>
    <th>Descripción</th>
    <th>Estado</th>

  </thead>
  <tbody>
    <tr ng-repeat="paquete in vm.listaPaquetes | filter:buscarPaquete">
      <td>{{paquete.usuario}}</td>
      <td>{{paquete.distribuidor}}</td>
      <td>{{paquete.precio}}</td>
      <td>{{paquete.peso}}</td>
      <td>{{paquete.tipoArticulo.name}}</td>
      <td>{{paquete.descripcion}}</td>
      <td>{{paquete.estadoTraslado}}</td>

      <td>
        <button type="button" class="btn" ng-click="vm.reporteEstados()">Reporte de estados</button>
      </td>
    </tr>
  </tbody>

</table>
</div>


  </div>
  
