



<div id="dashboard">
<section  class="container">
    <form action="" class="form-horizontal" ng-submit="vm.registrarRepartidor(vm.nuevoRepartidor)" >
        <!-- <div class="col-sm-6 center">
            <div class="form-group">
                <label for="">Foto</label>
                <input type="file" class="form-control" ng-model="vm.nuevoRepartidor.foto" >
            </div>
        </div> -->

        <div class="col-sm-6">    
            <div class="form-group">
                <label for="">Cédula</label>
                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.cedula" required>
            </div>
        
            <div class="form-group">
                <label for="">Primer nombre</label>
                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.primerNombre" required>
            </div>
        
            <div class="form-group">
                <label for="">Segundo Nombre</label>
                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.segundoNombre">
            </div>
        
            <div class="form-group">
                <label for="">Primer apellido</label>
                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.primerApellido" required>
            </div>
        
            <div class="form-group">
                <label for="">Segundo apellido</label>
                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.segundoApellido" required>
            </div>
        
            <div class="form-group">
                <label for="">Correo electrónico</label>
                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.correo" required >
            </div>
        </div>

        <div class="col-sm-6">    
                <div class="form-group">
                <label for="">Teléfono</label>
                <input type="number" class="form-control" ng-model="vm.nuevoRepartidor.telefono" required>
            </div>
        
            <div class="form-group">
                <label for="">Fecha de nacimiento</label>
                <input type="date" class="form-control" ng-model="vm.nuevoRepartidor.fechaNacimiento" required>
            </div>
        
            <div class="form-group">
                <label for="">Vehiculo</label>
                <select  ng-model="vm.nuevoRepartidor.vehiculo" class="form-control" >
                        <option value="">seleccione el vehiculo</option>
                        <option  value="moto">Motocicleta</option>
                        <option  value="camion">Camión</option>
                        <option  value="trailer">Trailer</option>
                        <option  value="van">Van</option>
                    </select>
            </div>
        
            <div class="form-group">

                <label for="">Numero de licencia</label>
                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.numLicencia">

                
                <label for="">Licencia</label>
                
                <select  class="form-control" ng-model="vm.nuevoRepartidor.tipoLicencia" >
                <option value="">seleccione el tipo de licencia</option>
                <option   value="A">A</option>
                <option   value="B">B</option>
                <option   value="C">C</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="">Vencimiento de la licencia</label>
                <input type="date" class="form-control" ng-model="vm.nuevoRepartidor.vencimientoLicencia" required>
            </div>
        

        
            <div class="form-group">
                    <label for="">Contraseña</label>
                    <input type="password" class="form-control" ng-model="vm.nuevoRepartidor.contrasenna" required>
                  </div>
              
   
            <select ng-model="vm.nuevoRepartidor.sucursalAsignada">
              <option value="">Seleccione la Sucursal del usuario</option>
              <option ng-repeat="sucursal in vm.listaSucursales" value="{{sucursal.nombre}}">{{sucursal.nombre}}</option>
            </select>
        </div>


        
      <button type="submit">Registrar</button>  
    </form>

  
  </section>

</div>
  