<div id="dashboard">

    <section class="container-fluid">

        <div class="creditCardForm">

            <div class="heading">
                <h1>Registro de Repartidor</h1>
            </div>

            <hr class="hrCliente">

            <div class="">


                <form action="" class=" form-row" ng-submit="vm.preRegistrarRepartidor(vm.nuevoRepartidor)">
                    
                 <div class="form-group col-sm-2 center">
                    <label for="">Fotografía</label>
                    <input type="file" class="form-control" ng-model="vm.nuevoRepartidor.foto" img-upload required>
                </div>
                 <div class="form-group col-sm-6">
                <div class="form-group">
                    <label for="">Cédula</label>
                    <input type="text" class="form-control col-xs-4" ng-model="vm.nuevoRepartidor.cedula" required>
                </div> 

                    <div class="form-group">
                        <label for="">Primer nombre</label>
                        <input type="text" class="form-control col-xs-4" ng-model="vm.nuevoRepartidor.primerNombre" required>
                    </div>

                    <div class="form-group">
                        <label for="">Segundo Nombre</label>
                        <input type="text" class="form-control col-xs-4" ng-model="vm.nuevoRepartidor.segundoNombre">
                    </div>

                    <div class="form-group">
                        <label for="">Primer apellido</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.primerApellido" required>
                    </div>

                    <div class="form-group">
                        <label for="">Segundo apellido</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.segundoApellido" required>
                    </div>

                    <div class="form-group">
                        <label for="">Fecha de nacimiento</label>
                        <input type="date" class="form-control" ng-model="vm.nuevoRepartidor.fechaNacimiento" required>
                    </div>

                    <div class="form-group">
                        <label for="">Teléfono</label>
                        <input type="number" class="form-control" ng-model="vm.nuevoRepartidor.telefono" required>
                    </div>


                    <div class="form-group">
                        <label for="">Provincia</label>
                        <input list="sltProvincia" class="form-control" name="sltProvincia" ng-change="vm.rellenarCantones(vm.nuevoRepartidor.provincia)"
                            ng-model="vm.nuevoRepartidor.provincia" required>
                        <datalist id="sltProvincia">
                            <option ng-repeat="provincia in vm.provincias track by provincia._id" value="{{provincia.name}}" id="{{provincia._id}}">
                        </datalist>
                    </div>

                    <div class="form-group">
                        <label for="">Cantón</label>
                        <input list="sltCanton" name="sltCanton" class="form-control" ng-change="vm.rellenarDistrito(vm.nuevoRepartidor.canton)"
                            ng-model="vm.nuevoRepartidor.canton" required>
                        <datalist id="sltCanton">
                            <option ng-repeat="canton in vm.cantones" value="{{canton.name}}">
                        </datalist>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="">Distrito</label>
                        <input list="sltDistrito" name="sltDistrito" class="form-control" ng-model="vm.nuevoRepartidor.distrito" required>
                        <datalist id="sltDistrito">
                            <option ng-repeat="distrito in vm.distritos" value="{{distrito.name}}">
                        </datalist>
                        <label for="">Dirección Exacta</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.direccionExacta" required>


                        <div class="form-group">
                            <label for="">Vehiculo</label>
                            <select ng-model="vm.nuevoRepartidor.vehiculo" class="form-control">
                                <option value="">seleccione el vehiculo</option>
                                <option value="moto">Motocicleta</option>
                                <option value="camion">Camión</option>
                                <option value="trailer">Trailer</option>
                                <option value="van">Van</option>
                            </select>
                        </div>


                        <div class="form-group">

                            <label for="">Numero de licencia</label>
                            <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.numLicencia">


                            <label for="">Licencia</label>

                            <select class="form-control" ng-model="vm.nuevoRepartidor.tipoLicencia">
                                <option value="">seleccione el tipo de licencia</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Vencimiento de la licencia</label>
                            <input type="date" class="form-control" ng-model="vm.nuevoRepartidor.vencimiento" required>
                        </div>

                        <div class="form-group">
                            <label for="">Sucursal asignada</label>
                            <select class="form-control" ng-model="vm.nuevoRepartidor.sucursalAsignada">
                                <option value="">Seleccione la Sucursal del usuario</option>
                                <option ng-repeat="sucursal in vm.listaSucursales" value="{{sucursal.nombre}}">{{sucursal.nombre}}</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="">Correo electrónico</label>
                            <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.correo" required>
                        </div>

                        <div class="form-group">
                            <label for="">Contraseña</label>
                            <input type="password" class="form-control" ng-model="vm.nuevoRepartidor.contrasenna" required>
                        </div>

                        <div class="form-group " id="pay-now">
                            <button type="submit" class="btn">Registrar Repartidor </button>
                        </div>

                </form>

                </div>
            </div>
    </section>
</div>
