<div id="dashboard">

    <legend>Paquetes en tránsito a aduanas</legend>
  
    <table class="table table-responsive">
  
      <thead>
        <th>Usuario</th>
        <th>Distribuidor</th>
        <th>Precio</th>
        <th>Peso</th>
        <th>Tipo de articulo</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Pasar Estado</th>
    
      </thead>
      <tbody>
        <tr ng-repeat="paquete in vm.listaPaquetes" ng-if="paquete.estadoTraslado === 'En tránsito a aduana'">
          <td>{{paquete.usuario}}</td>
          <td>{{paquete.distribuidor}}</td>
          <td>{{paquete.precio}}</td>
          <td>{{paquete.peso}}</td>
          <td>{{paquete.tipoArticulo.name}}</td>
          <td>{{paquete.descripcion}}</td>
          <td>{{paquete.estadoTraslado}}</td>
          <td><button class="btn " type="button" ng-click="vm.cambiarEstadoTraslado1(paquete)"><img src="../../sources/images/actualizar.png"><small>Recibido En Aduana</small> </button></td>
        </tr>
      </tbody>
    
    </table>
  
  
    <legend>Paquetes recibidos en Aduana</legend>
  
    <table class="table table-responsive">
  
      <thead>
        <th>Usuario</th>
        <th>Distribuidor</th>
        <th>Precio</th>
        <th>Peso</th>
        <th>Tipo de articulo</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Pasar Estado</th>
    
      </thead>
      <tbody>
        <tr ng-repeat="paquete in vm.listaPaquetes" ng-if="paquete.estadoTraslado === 'En proceso de desalmacenaje'">
          <td>{{paquete.usuario}}</td>
          <td>{{paquete.distribuidor}}</td>
          <td>{{paquete.precio}}</td>
          <td>{{paquete.peso}}</td>
          <td>{{paquete.tipoArticulo.name}}</td>
          <td>{{paquete.descripcion}}</td>
          <td>{{paquete.estadoTraslado}}</td>
          <td><button class="btn-light" type="button" ng-click="vm.cambiarEstadoTraslado2(paquete)"><img src="../../sources/images/actualizar.png"><small>En transito a centro de distribución</small> </button></td>
        </tr>
      </tbody>
    
    </table>

    <legend>Paquetes enviados a correos</legend>
  
    <table class="table table-responsive">
  
      <thead>
        <th>Usuario</th>
        <th>Distribuidor</th>
        <th>Precio</th>
        <th>Peso</th>
        <th>Tipo de articulo</th>
        <th>Descripción</th>
        <th>Estado</th>
    
      </thead>
      <tbody>
        <tr ng-repeat="paquete in vm.listaPaquetes" ng-if="paquete.estadoTraslado === 'En transito a centro de distribución'">
          <td>{{paquete.usuario}}</td>
          <td>{{paquete.distribuidor}}</td>
          <td>{{paquete.precio}}</td>
          <td>{{paquete.peso}}</td>
          <td>{{paquete.tipoArticulo.name}}</td>
          <td>{{paquete.descripcion}}</td>
          <td>{{paquete.estadoTraslado}}</td>
          
        </tr>
      </tbody>
    
    </table>
  
  </div>